<form [formGroup]="resourcesFormGroup" *ngIf="fullyInit">
        <div fxLayout="column" fxLayoutAlign="start">
            <div *ngFor="let resourceType of resourceTypes; let i = index" fxLayout="row" fxLayoutAlign="start">
                <div formGroupName="{{i.toString()}}" class="formResource">
                    <mat-checkbox (change)="setIsResourceSelected($event, i)">{{resourceType}}</mat-checkbox>
                    <mat-form-field *ngIf="isResourceTypeSelected(resourceType)==true" appearance="outline">
                        <mat-label>Valeur</mat-label>
                        <input matInput type="number" min="1" required formControlName="value">
                    </mat-form-field>
                </div>
            </div>
        </div>
</form>

<div fxLayout="row" fxLayoutAlign="start" class="matStepperButtons">
    <button mat-button matStepperPrevious>Précédent</button>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-button matStepperNext [disabled]="!this.resourcesFormGroup.valid">Suivant</button>
</div>