<form [formGroup]="identitiesFormGroup" *ngIf="fullyInit">
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <mat-form-field appearance="outline">
                <mat-label>Nombre de champs</mat-label>
                <input matInput type="number" min="1" max="{{this.identitiesTypes.length}}" required formControlName="nbIdentities">
            </mat-form-field>
            <div fxLayout="column">
                <div *ngFor="let i of createNumberArray(this.identitiesFormGroup.value['nbIdentities'])">
                    <div formGroupName="{{i.toString()}}">
                        <mat-form-field appearance="outline">
                            <mat-label>Nom n°{{i}}</mat-label>
                            <input matInput maxlength="20" formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Type de nom</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let nameType of identitiesTypes" value="{{nameType}}">{{nameType}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
</form>

<button mat-button matStepperNext [disabled]="!this.identitiesFormGroup.valid">Suivant</button>