<form [formGroup]="identitiesFormGroup" *ngIf="fullyInit">
    <mat-card class="identitiesCard">
        <mat-card-title>Identité(s)</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <mat-form-field appearance="outline">
                <mat-label>Nombre de champs</mat-label>
                <input matInput type="number" min="1" max="{{this.identitiesTypes.length}}" required formControlName="nbIdentities">
            </mat-form-field>
            <mat-card fxLayout="column">
                <div *ngFor="let i of createNumberArray(this.identitiesFormGroup.value['nbIdentities'])">
                    <div formGroupName="{{i.toString()}}">
                        <mat-form-field appearance="outline">
                            <mat-label>Nom n°{{i}}</mat-label>
                            <input matInput maxlength="20" formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Type de nom</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let nameType of identitiesTypes" value="{{nameType}}">{{nameType}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-card>
</form>