.mat-horizontal-stepper-header {
    pointer-events: none;
}

.componentHeader {
    text-align: center;
    width: 100%;
    mat-divider {
        transform: translate(10%);
        width: 80%;
        margin: 10px;
    }
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

mat-stepper {
    width: 90%;
    .matDividerEtapier {
        transform: translate(50%);
        width: 50%;
        margin: 20px;
    }
}

app-identities {
    width: 100%
}
app-resources {
    width: 100%
}
app-levels {
    width: 100%
}
app-armors {
    width: 100%
}

app-skills {
    width: 100%
}

app-statistics {
    width: 100%
}

app-money {
    width: 100%
}

.debug {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99;
}