<form [formGroup]="newCharFormGroup" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="componentHeader">
        <h1>Création d'un nouveau personnage</h1>
        <!--button class="debug" mat-raised-button color="warn" (click)="debugCheckForm()">Vérifier le formulaire</button-->
    </div>

    <mat-stepper [linear]="true">

        <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step label="Identité(s)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-identities></app-identities>
        </mat-step>
        <mat-step label="Ressource(s)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-resources></app-resources>
        </mat-step>
        <mat-step label="Niveau(x)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-levels></app-levels>
        </mat-step>
        <mat-step label="Armure(s)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-armors></app-armors>
        </mat-step>
        <mat-step label="Compétence(s)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-skills></app-skills>
        </mat-step>
        <mat-step label="Statistique(s)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-statistics></app-statistics>
        </mat-step>
        <mat-step label="Monnaie(s)">
            <mat-divider class="matDividerEtapier"></mat-divider>
            <app-money></app-money>
            <div fxLayout="row" fxLayoutAlign="start" class="matStepperButtons">
                <button mat-button matStepperPrevious>Précédent</button>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-button [disabled]="!this.newCharFormGroup.valid" (click)="createCharacter()">Créer ce personnage</button>
            </div>
        </mat-step>
    </mat-stepper>

    <button mat-raised-button color="primary" (click)="cancelCharacter()">Annuler</button>

</form>