<!--form [formGroup]="createGameFormGroup" fxLayout="column" fxLayoutAlign="space-around center">

</form-->
<button class="debug" mat-raised-button color="warn" (click)="debugCheckForm()">Vérifier les joueurs</button>
<button mat-raised-button color="primary" (click)="switchCharacterView()" *ngIf="!showCreateCharacter">Créer un nouveau joueur</button>
<app-new-character *ngIf="showCreateCharacter" (characterEvent)="addCharacter($event)" (cancelCharacterEvent)="setChowCreateCharacter($event)"></app-new-character>
<div *ngIf="!showCreateCharacter">
    <div *ngFor="let character of characterList; let i = index">
        <button mat-raised-button (click)="showCharacterInfos(i)">Personnage n°{{i+1}}</button>
    </div>
</div>