@import "../create-game.component.scss";

.statisticsCard {
    .mainCard {
        box-shadow: none;

        .subCards {
            margin-top: 20px;
        }

        .mat-divider {
            margin-bottom: 20px;
        }
    }
}