<form [formGroup]="skillsFormGroup" *ngIf="fullyInit">
        <div fxLayout="row" fxLayoutAlign="space-around start">
            <mat-form-field appearance="outline">
                <mat-label>Nombre de champs</mat-label>
                <input matInput type="number" min="0" required formControlName="nbSkills">
            </mat-form-field>
            <div fxLayout="column" class="mainCard">
                <div *ngFor="let i of createNumberArray(this.skillsFormGroup.value['nbSkills'])">
                    <mat-divider *ngIf="i>1"></mat-divider>
                    <div class="subCards" fxLayout="column" formGroupName="{{i.toString()}}">
                        <mat-form-field appearance="outline">
                            <mat-label>Nom de la compétence</mat-label>
                            <input matInput maxlength="20" required formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Statistique principale</mat-label>
                            <input matInput maxlength="20" required formControlName="mainStat">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea  matInput required formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
</form>